# Fichiers Excel
*.xls
*.xlsx
*.csv
*.pkl
*.mp4

# Fichiers CSV
*.csv

# Fichiers SQLite
*.sqlite
*.db

# Dossiers venv*
venv*/
**/venv*/
**/node_modules/*
venv*
jira_exports/*
data/*

# Fichier de configuration sensible
backend/config.py
backend/dist/*
backend/build/*
